*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}

.App {
  font-family: 'Cormorant SC', serif;
  display: flex;
  justify-content: center;
}

.list{
  background-color: aliceblue;
  border: 1px solid aliceblue;
  margin: 2%;

  
}

.list > li{
  display: flex;
  background-color: white;
  padding: 5px;
  margin-bottom: 1vh;
  margin-top: 1vh;

}

.btn > button{
  width: 10vh;
  justify-content: center;
}

.destroy{
  width: 5vh;
  justify-content: center; 
}